<header class="header-main">
    <div class="contain-header">
        <img src="./assets/img/logos/logo.png" alt="logoYess" width="60px" height="60px">

        <div class="contain-nav">
            <ul class="contain-list">
                <li (click)="navigateTab('aboutme')">Sobre mí</li>
                <li (click)="navigateTab('skills')">Habilidades</li>
                <li (click)="navigateTab('projects')">Proyectos</li>
                <li (click)="navigateTab('contact')">Contacto</li>
            </ul>
        </div>
    </div>
</header>
