<div class="contain-aboutme">
    <div class="contain-text">
        <div class="center">
            <h1 class="title">
                <label class="name">Yessica</label>
                <label>Cardenas</label>
            </h1>
            <p class="description">Hola soy desarrolladora full stack, soy estudiante de cuarto semestres en Ingeniería
                de Software. Actualmente tengo 1 año y medio de experiencia y
                trabajo en una empresa de bienestar desarrollando diferentes proyectos de esta. Desde que
                tengo memoria me ha encantado la tecnología y apasionado el desarrollo de software.</p>
        </div>
    </div>

    <div class="contain-img">
        <h3>¡Hola, soy Yess! 👋</h3>
        <img src="./../../assets/img/computer-yess.jpeg" alt="logoYess" width="60px" height="60px">
    </div>
</div>