<div class="navbar" *ngIf="isResponsive">
    <div class="tab" (click)="navigateTab('aboutme')">
        <img src="./assets/img/person.svg" alt="tababoutme" width="25px"
            height="25px">
            <h4>Sobre mí</h4>
    </div>
    <div class="tab" (click)="navigateTab('skills')">
        <img src="./assets/img/skills.svg" alt="tabskills" width="25px"
            height="25px">
            <h4>Habilidades</h4>
    </div>
    <div class="tab" (click)="navigateTab('projects')">
        <img src="./assets/img/projects.svg" alt="tabprojects" width="25px"
            height="25px">
            <h4>Proyectos</h4>
    </div>
    <div class="tab" (click)="navigateTab('contact')">
        <img src="./assets/img/phone.svg" alt="tabcontact" width="25px"
            height="25px">
            <h4>Contacto</h4>
    </div>
</div>