:root {
    --color-primary: #302b7b;
    --color-primary-rgb: 48, 43, 123;
    --color-secondary: #29272a;
    --color-secondary-rgb: 41, 39, 42;
    --color-lilac: #6a5c83;
    --color-lilac-rgb: 106, 92, 131;
    --color-grape: #4c3a69;
    --color-grape-rgb: 76, 58, 105;
    --color-white: #fbfbfe;
    --color-white-secondary: #b3b3b3;
    --color-alternative: #0167e9;
    --color-alternative2: #04cbeb;
}